<!DOCTYPE html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=850" user-scalable="no">
<title>@asimone</title>
 <meta name="description" content="Andrew Simone is a digital product designer based in Saint Louis, Missouri" />
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="author" href="https://plus.google.com/+AndrewSimone/posts"/>
<link rel="icon" href="http://andrewsimone.com/images/favicon.ico" type="image/x-icon"/>

</head>
<body>

<header>
	<div class="title">
	<a href="{{ site.url }}/writing"><h1 id="blog-title">This is a place</h1></a>
	<p id="blog-subhead">(Some call it a blog)</p>
	</div>
</header>
	<div class="circle"><a href='/' class="fill-div"></a></div>
	</div>
	<div class="content">		
			<p class="bio">This is where I convince you I'm not an asshole. I'll probably also <a href="https://twitter.com/asimone">link to twitter</a> because people are supposed to do that somewhere.</p>
	<div class="stupid-line"><a name="skipheader"></a></div>



{{ content }}


	</div>
<footer>
	<div class="footer-bullshit">
		<p><a href="mailto:me@andrewsimone.com">me@andrewsimone.com</a></p>
	</div>

{% include pagination.html %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-586193-4']);
  _gaq.push(['_setDomainName', 'andrewsimone.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
		
</footer>
</body>
</html>

