body {width: 100%; margin: 0; font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif; font-weight: 400; font-style: normal;}
a:link, a:visited, a:active, a:hover {color:rgba(0, 153, 255, 0.69); text-decoration: none;}

::selection {
	color: #444;
	background: rgba(0, 153, 255, 0.69); /* Safari */
	}
::-moz-selection {
	color: #444;
	background: rgba(0, 153, 255, 0.69); /* Firefox */
}

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

blockquote {
	font-size: 25px;
	color: rgba(0, 0, 0, 0.54);
	line-height: 1.6em;
}

pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -o-pre-wrap;
}

ol {
list-style: lower-greek;}

ul {list-style: square; font-size: 25px;}

li {font-size: 25px; margin-left: 30px; line-height: 1.6em;}

h3 {
font-size: 58px;
font-family: 'Verlag Comp A', 'Verlag Comp B', serif; 
font-weight: 700; 
font-style: normal;
margin-top: 10px;
margin-bottom: 10px;
line-height: 1em;
}

h4 {
font-size: 55px;
font-family: 'Verlag Comp A', 'Verlag Comp B', serif;
font-weight: 700;
font-style: normal;
margin-top: 10px;
margin-bottom: 10px;
padding-top: 15px;
padding-bottom: 10px;
line-height: 1em;
text-align: center;
}

.small {font-variant: small-caps;}

header {background-color: rgba(0, 153, 255, 0.69); height: 304px; width 100%;}

.title {width: 100%; margin: 0 auto; padding-top: 5px;}

#blog-title {
text-align: center;
font-size: 100px;
color: #fff !important;
margin-bottom: -25px;
font-family: 'Verlag Comp A', 'Verlag Comp B', serif;
font-weight: 400;
text-transform: uppercase;
}

#blog-subhead {
text-align: center;
color: #fff;
font-size: 20px;
font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif; 
font-weight: 400; 
}

.circle {
display: block;
width: 135px;
height: 135px;
margin: -74px auto;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
-webkit-border-radius: 99em;
-moz-border-radius: 99em;
border-radius: 99em;
border: 5px solid #eee;
box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
background-image: url('/assets/images/IRLmobile.gif');
}

@media all and (max-width: 960px) and (min-width: 950px) {
	.circle {
	display: block;
	width: 135px;
	height: 135px;
	margin: -74px auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 5px solid #eee;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
	background-image: url('/assets/images/neener.gif');}
}

@media (min-width:961px) {
	.circle {
	display: block;
	width: 135px;
	height: 135px;
	margin: -74px auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 5px solid #eee;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
	background-image: url('/assets/images/IRL.gif');}
}

.bio {
width: 600px;
margin: 0 auto;
margin-top: 110px;
font-style: italic;
font-weight: 400;
text-align: center;
color: rgba(0, 0, 0, 0.54);
line-height: 1.2em !important;
}

.stupid-line {
border-bottom: 1px solid rgba(92, 83, 83, 0.28);
width: 250px;
margin: 0 auto;
margin-top: 35px;
margin-bottom: 35px;
}

.stupider-line {
border-bottom: 1px solid rgba(92, 83, 83, 0.28);
width: 250px;
margin: 0 auto;
margin-bottom: 10px;
}

.stupidest-line {
border-bottom: 1px solid rgba(92, 83, 83, 0.28);
width: 250px;
margin: 0 auto;
margin-bottom: 40px;
margin-top: 30px;
}

.content {margin-bottom: 55px;}

.content h2 {
font-size: 70px;
text-align: center;
line-height: 1em;
font-family: 'Verlag Comp A', 'Verlag Comp B', serif; 
font-weight: 700; 
font-style: normal;
}

.content p {
font-size: 25px;
line-height: 1.6em;
}

.post {
width: 800px;
margin: 0 auto;
margin-top: -15px;
color: #444;
}



.post-archive, .archive-title{
text-align: center;
}

.date {
text-align: center;
color: rgba(0, 0, 0, 0.54);
font-size: 25px;
font-weight: 400;
margin-bottom: 60px;
}

footer {background-color: rgba(0, 153, 255, 0.69); height: 136px; width 100%;}

.footer-bullshit {
width: 800px;
margin: 0 auto;
padding-top: 20px;
}

.footer-bullshit p {
color: #fff;
font-size: 30px;
font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif;
font-weight: 400;
font-style: italic;
text-align: center;
}

.only-olds-browse-websites p {
color: #fff;
font-size: 30px;
font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif;
font-weight: 400;
text-align: center;
width: 800px;
margin: -65px auto 0 auto;

}

.footer-bullshit a, .only-olds-browse-websites a {color: #fff;}

.homepage-content {
background-color: rgba(0, 153, 255, 0.69);
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 290px;
font-style: italic;
}

.homepage-circle {
display: block;
width: 200px;
height: 200px;
margin: 40px auto;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
-webkit-border-radius: 99em;
-moz-border-radius: 99em;
border-radius: 99em;
border: 5px solid #eee;
box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
background-image: url('click.gif');
}

nav a {color: #fff !important; text-decoration: none !important;}

nav {
font-size: 45px;
font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif;
font-weight: 400;
text-align: center;
width: 630px;
margin: -170px auto 0 auto;
}

.resume-content {
background-color: rgba(0, 153, 255, 0.69);
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 290px;
font-style: italic;
}

.fill-div {
display: block;
height: 100%;
width: 100%;
text-decoration: none;
}

.center {
text-align: center;
display: block;
margin: 0 auto;
}

pre {
margin: 1.6em 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background: #f1f0ea;
border: 1px solid #dddbcc;
width: 100%;
padding: 10px;
font-family: Inconsolata,monospace;
font-size: 1.2em;
white-space: pre;
overflow: auto;
border-radius: 3px;